{% extends "base.html" %}

{% block title %}DHCP leases{% end %}

{% block content %}

<div id="create_alert" class="alert alert-block alert-success hide">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <p>
        <strong>Резервация создана!</strong><br />
        <strong>Имя:</strong><span class="info_name"></span><br />
        <strong>IP:</strong><span class="info_ip"></span><br />
        <strong>Диапазон:</strong><span class="info_range"></span>
    </p>
</div>

<div id="delete_alert" class="alert alert-block alert-success hide">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <p>
        <strong>Резервация удалена :(</strong><br />
    </p>
</div>

<ul class="nav nav-tabs" id="leases_tab">
    <li><a href="#thin_clients" data-toggle="tab">Тонкие клиенты</a></li>
    <li><a href="#machine" data-toggle="tab">Станки</a></li>
    <li><a href="#ip_cameras" data-toggle="tab">Ip-камеры</a></li>
    <li><a href="#temp_servers" data-toggle="tab">Сервера временный</a></li>
    <li><a href="#computers" data-toggle="tab">Рабочие станции</a></li>
    <li><a href="#personal_unlim" data-toggle="tab">Личные девайсы анлим</a></li>
    <li><a href="#personal_others" data-toggle="tab">Личные девайсы остальные</a></li>
    <li><a href="#ip_phones" data-toggle="tab">Ip-фоны</a></li>
    <li><a href="#printers" data-toggle="tab">Принтеры</a></li>
    <li><a href="#temp" data-toggle="tab">Временные</a></li>
    <li><a href="#servers" data-toggle="tab">Сервера</a></li>
</ul>

<div class="tab-content">

{% for ip_range, leases_list in leases.iteritems() %}
    <div class="tab-pane" id="{{ escape(ip_range) }}">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Name</th><th>IP</th><th>MAC</th>{% if ip_range=='temp' %}<th>Зарезервировать</th>{% else %}<th>Удалить</th>{% end %}
                </tr>
            </thead>
            <tbody>
                {% for lease in leases_list %}
                    <tr>
                        <td>{{ escape(lease.name) }}</td>
                        <td>{{ escape(lease.ip) }}</td>
                        <td>{{ escape(lease.mac) }}</td>
                        {% if ip_range=='temp' %}
                        <td>
                            <ul class="nav nav-pills">
                                <li class="dropdown">
                                    <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-target="#" href="/leases">
                                        Создать резервироване
                                        <b class="caret"></b>
                                    </a>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                        {% for ip_range_dd in leases %}
                                            {% if ip_range_dd!='temp' %}
                                                <li role="presentation">
                                                    <a class="move_action" href="javascript:create_lease ('{{ escape(lease.name) }}', '{{ escape(lease.mac) }}', '{{ escape(ip_range_dd) }}')" tabindex="-1" role="menuitem">
                                                        {{ escape(ip_range_dd) }}
                                                    </a></li>
                                            {% end %}
                                        {% end %}
                                    </ul>
                                </li>
                            </ul>
                        </td>
                        {% else %}
                        <td>
                            <button type="button" class="btn btn-primary" onClick="javascript:delete_lease ('{{ escape(lease.ip) }}', '{{ escape(lease.mac) }}')">Delete</button>
                        </td>
                        {% end %}
                    </tr>
                {% end %}
            </tbody>
        </table>
    </div>
{% end %}

</div>
 
{% module Template('modal_create_lease_confirm.html') %}
{% module Template('modal_delete_lease_confirm.html') %}
{% end %}

{% block js %}
function create_lease (name, mac, dest_range){
    //init model texts
    $('#confirmCreateModal #create_modal_name').html(name)
    $('#confirmCreateModal #create_modal_mac').html(mac)
    $('#confirmCreateModal #create_modal_dest_range').html(dest_range)
    //init hidden fields
    $('#confirmCreateModal #create_mac').html(mac)
    $('#confirmCreateModal #create_dest_range').html(dest_range)
    $('#confirmCreateModal').modal('show')
}

function delete_lease (ip, mac){
    //init model texts
    $('#confirmDeleteModal #delete_modal_ip').html(ip)
    //init hidden fields
    $('#confirmDeleteModal #delete_ip').html(ip)
    $('#confirmDeleteModal #delete_mac').html(mac)
    $('#confirmDeleteModal').modal('show')
}

$('#confirmDeleteModal .confirm_submit').on('click', function () {
    ip_v = $('#confirmDeleteModal #delete_ip').html();
    mac_v = $('#confirmDeleteModal #delete_mac').html();
    $.post("/ajax/delete_lease", { ip: String(ip_v), mac:(mac_v)},
         function(data){
            if(data.status=='OK'){
                $("#delete_alert").show()
            } else {
                alert('error!')
            }
         }, "json"
    );
});


$('#confirmCreateModal .confirm_submit').on('click', function () {
    mac_v = $('#confirmCreateModal #create_mac').html();
    dest_range_v = $('#confirmCreateModal #create_dest_range').html();

    $.post("/ajax/create_lease", { mac: String(mac_v), dest_range: String(dest_range_v) },
         function(data){
            if(data.status=='OK'){
                {# $(".alert").alert('close') #}
                $('#create_alert .info_name').html(data.name)
                $('#create_alert .info_ip').html(data.ip)
                $('#create_alert .info_range').html(dest_range_v)
                $("#create_alert").show()
            } else {
                alert('error!')
            }
         }, "json"
    );
});

$(function () {
    $('#leases_tab a:first').tab('show');
})
{% end %}