{% extends "base.html" %}

{% block title %}DHCP leases{% end %}

{% block content %}

<ul class="nav nav-tabs" id="leases_tab">
    <li><a href="#thin_clients" data-toggle="tab">Тонкие клиенты</a></li>
    <li><a href="#machine" data-toggle="tab">Станки</a></li>
    <li><a href="#ip_cameras" data-toggle="tab">Ip-камеры</a></li>
    <li><a href="#temp_servers" data-toggle="tab">Сервера временный</a></li>
    <li><a href="#computers" data-toggle="tab">Рабочие станции</a></li>
    <li><a href="#personal_unlim" data-toggle="tab">Личные девайсы анлим</a></li>
    <li><a href="#personal_others" data-toggle="tab">Личные девайсы остальные</a></li>
    <li><a href="#ip_phones" data-toggle="tab">Ip-фоны</a></li>
    <li><a href="#printers" data-toggle="tab">Принтеры</a></li>
    <li><a href="#temp" data-toggle="tab">Временные</a></li>
    <li><a href="#servers" data-toggle="tab">Сервера</a></li>
</ul>

<div class="tab-content">

{% for ip_range, leases_list in leases.iteritems() %}
    <div class="tab-pane" id="{{ escape(ip_range) }}">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Name</th><th>IP</th><th>MAC</th><th>move</th>
                </tr>
            </thead>
            <tbody>
                {% for lease in leases_list %}
                    <tr>
                        <td>{{ escape(lease.name) }}</td>
                        <td>{{ escape(lease.ip) }}</td>
                        <td>{{ escape(lease.mac) }}</td>
                        <td>
                            <ul class="nav nav-pills">
                                <li class="dropdown">
                                    <a class="dropdown-toggle" role="button" data-toggle="dropdown" data-target="#" href="/lesaes">
                                        Move to
                                        <b class="caret"></b>
                                    </a>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                        {% for ip_range in leases %}
                                            {% if ip_range!='temp' %}
                                                <li role="presentation"><a class="move_action" href="/leases" tabindex="-1" role="menuitem">{{ escape(ip_range) }}</a></li>
                                            {% end %}
                                        {% end %}
                                    </ul>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% end %}
            </tbody>
        </table>
    </div>
{% end %}

</div>
 
<!-- Button to trigger modal -->
 
<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Modal header</h3>
    </div>
    <div class="modal-body">
        <p>One fine body…</p>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Save changes</button>
    </div>
</div>

{% end %}

{% block js %}
$('.move_action').on('click', function (e) {
    alert('asds')
})
$(function () {
    $('#leases_tab a:first').tab('show');
})
{% end %}